.flat__box--top
  グループを作成しました
.chat
  .chat__side
    .chat__side--header
      .chat__side--header-box
        egusa
        .icons
          .icons__side--edit-user
            = link_to messages_path do
              %i.fa.fa-edit
          .icons__side--new-groups
            = link_to messages_path do
              %i.fa.fa-cog
    .chat__side--groups
      %h1.chat__side--groupname sample-group
      %p.chat__side--message bye
      %h2.chat__side--name example
      %p.chat__side--message bye
      %h4.chat__side--name sample-name
      %p.chat__side--message Follow me
      %h4.chat__side--name Seo
      %p.chat__side--message まだメッセージがありません。
  .chat__main
    .header__main--box
      .header__main--box-left
        %h5.group_name name of group
        %h6.menbers_list Member: test-user
      .header__main--box-right  
        %a.btn_edit Edit
    .message__current
      .message__info--upper
        .message__info_talker SEO
        .message__info_date 2019/8/12(sat) 00:00:00
      .message__info--text こんにちは！
      .message__info--upper
        .message__info_talker Tom
        .message__info_date 2019/8/12(sat) 10:00:00
      .message__info--text Hi!
      .message__info--upper
        .message__info_talker Mio
        .message__info_date 2019/8/12(sat) 10:00:00
      .message__info--text さようなら
      .message__info--upper
        .message__info_talker Mao
        .message__info_date 2019/8/12(sat) 10:00:00
      .message__info--text まだまだ先は長い。
      .message__info--upper
        .message__info_talker Moe
        .message__info_date 2019/8/9(thu) 10:00:00
      .message__info--text やっとできました。
    .posts
      %form
        %input.posts__text-field{:type => "text"}
        %button.posts__submit{:type => "submit"} Send