!!!
%html
%body
  %div.flat__box--top グループを作成しました

  %div.chat
    %div.chat__side
      %div.chat__side--header
        %div.chat__side--header-box
          %div.user_name--side egusa
          %div.icons
            %i.side__icon--edituser
            = fa_icon 'edit'
            %i.side__icon--newgroup
            = fa_icon 'cog'
  
      %div.chat__side--groups
        %h3.chat__side--groupname sample-group
        %p.chat__side__message bye
        %h4.chat__side__name example
        %p.chat__side__message bye
        %h4.chat__side__name sample-name
        %p.chat__side__message Follow me
        %h4.chat__side__name Seo
        %p.chat__side__message まだメッセージがありません。

    %div.chat__main
      %div.header__main__box
        %div.header__main__box--left
          %h5.group_name name of group
          %h6.menbers_list Member: test-user
        %div.header_main-box--right  
          %a.btn_edit Edit

      %div.message__current
        %div.message__info--upper
          %div.message__info_talker SEO
          %div.message__info_date 2019/8/12(sat) 00:00:00
        %div.message__info--text こんにちは！
        %div.message__info--upper
          %div.message__info_talker Mio
          %div.message__info_date 2019/8/12(sat) 10:00:00
        %div.message__info--text さようなら
        %div.message__info--upper
          %div.message__info_talker Tom
          %div.message__info_date 2019/8/12(sat) 10:00:00
        %div.message__info--text Hi!
        %div.message__info--upper
          %div.message__info_talker Mio
          %div.message__info_date 2019/8/12(sat) 10:00:00
        %div.message__info--text さようなら
        %div.message__info--upper
          %div.message__info_talker Mio
          %div.message__info_date 2019/8/12(sat) 10:00:00
        %div.message__info--text さようなら
        %div.message__info--upper
          %div.message__info_talker Mio
          %div.message__info_date 2019/8/12(sat) 10:00:00
        %div.message__info--text さようなら
        %div.message__info--upper
          %div.message__info_talker Mio
          %div.message__info_date 2019/8/12(sat) 10:00:00
        %div.message__info--text さようなら
        %div.message__info--upper
          %div.message__info_talker Mio
          %div.message__info_date 2019/8/9(thu) 10:00:00
        %div.message__info--text やっとできました。

      <div class="posts">
      <form>
      <input type="text" class="posts__text-field">
      <button type="submit" class="posts__submit">Send</button>
      </form>
      </div>